* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #8f8f8f;
  border-radius: 5px;
  height: 100px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.search-bar {
  border: none;
  outline: none;
  width: 450px;
}

.youtube {
  font-weight: bold !important;
  display: flex;
  align-items: center;
  justify-content: start;
  outline: none;
  border: none;
  font-size: 20px;
  background: transparent;
  color: #202020;
  font-family: 'Roboto Condensed', sans-serif;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
  letter-spacing: 1px;
}

.category-btn:hover {
  background-color: #d50000 !important;
  color: #fff !important;
}

.category-btn:hover span {
  color: #fff !important;
}

.react-player {
  width: 100% !important;
  height: 77vh !important;
}

@media screen and (max-width: 600px) {
  .search-bar {
    width: 200px;
  }
  .react-player {
    height: 45vh !important;
  }
}
